Painter.sln
Assembly-CSharp.csproj
.vsconfig
UnityEngine.UI.csproj
UnityEngine.TestRunner.csproj
UnityEditor.UI.csproj
UnityEditor.TestRunner.csproj
Unity.VisualStudio.Editor.csproj
Unity.VSCode.Editor.csproj
Unity.Timeline.csproj
Unity.Timeline.Editor.csproj
Unity.TextMeshPro.csproj
Unity.TextMeshPro.Editor.csproj
Unity.Services.Core.Editor.csproj
Unity.Rider.Editor.csproj
Unity.PlasticSCM.Editor.csproj
Unity.CollabProxy.Editor.csproj
.vs/Painter/v16/.suo
Library/
Logs/
obj/
Temp/
UserSettings/
.vs/
